<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Coach</title>
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <link rel="stylesheet" type="text/css" href="../dist/css/style.css" />
    <script charset="utf-8" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript" src="../dist/js/all.min.js"></script>
</head>
<body class="page-qa">

    <div class="wrapper">
        <div class="content">
            <div class="logo">
                <img src="/dist/images/logo.png" alt=""/>
            </div>
            <!-- qa-->
            <div class="qa-list">
                <!--<div class="ask">-->
                    <!--<span class="ordernum">1.</span>-->
                    <!--你觉得你更偏向以下哪种性格？-->
                <!--</div>-->
                <!--<div class="answer">-->
                    <!--<ul class="list">-->
                        <!--<li class="item selected"><span class="series">A)</span>热情浪漫</li>-->
                        <!--<li class="item unselect"><span class="series">B)</span>热情浪漫</li>-->
                        <!--<li class="item"><span class="series">C)</span>热情浪漫</li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--<div class="btn-go">下一题</div>-->
            </div>
        </div>

    </div>


</body>


</html>
